-- Base16 {{scheme-name}}
-- Author: {{scheme-author}}

local colors = {}

colors.base00 = "#{{base00-hex}}"
colors.base01 = "#{{base01-hex}}"
colors.base02 = "#{{base02-hex}}"
colors.base03 = "#{{base03-hex}}"
colors.base04 = "#{{base04-hex}}"
colors.base05 = "#{{base05-hex}}"
colors.base06 = "#{{base06-hex}}"
colors.base07 = "#{{base07-hex}}"
colors.base08 = "#{{base08-hex}}"
colors.base09 = "#{{base09-hex}}"
colors.base0A = "#{{base0A-hex}}"
colors.base0B = "#{{base0B-hex}}"
colors.base0C = "#{{base0C-hex}}"
colors.base0D = "#{{base0D-hex}}"
colors.base0E = "#{{base0E-hex}}"
colors.base0F = "#{{base0F-hex}}"

return colors

